@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "nasa";
  src: url("../../public/nasalization-rg.otf");
}

textarea,
select,
input {
  outline: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes up-down {
  0% {
    transform: translateY(0%);
  }
  15% {
    transform: translateY(-100%);
  }
  30% {
    transform: translateY(0%);
  }
  45% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(0%);
  }
  75% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply animation to the element */
.animate-brand {
  animation: up-down 3s linear 1;
}
